---
import Header from '../components/Header.astro';
import { jobs } from '../jobs.json';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <Header />
    <section class="container mx-auto m-4 px-4 text-gray-800 flex flex-col gap-4">
        <div class="px-6 py-8 border-2 border-gray-800">
            <h1 class="text-5xl font-bold pb-4">About Me</h1>
            <p class="pb-2">
                I am a self taught developer from Brooklyn, NY and have been
                working as a software developer for approximately 8 years. I work with Python, PHP, JavaScript, SQL, Git, HTML, and CSS/SCSS.I also work with Django, Yii, Laravel, Vue, Angular, Node,
                Webix/Jet, and WordPress.Additionally, I am familiar with Linux, Apache, Nginx, Docker,
                Vagrant, AWS services, Digital Ocean, and Dokku.
            </p>
            <p class="pb-2">
                I can be contacted on <a
                    href="https://www.linkedin.com/in/daniel-herskowitz-105/"
                    target="_blank"
                    class="text-green-900 underline">my LinkedIn page.</a>
            </p>
        </div>
        <div class="px-6 py-8 border-2 border-gray-800">
            <h1 class="text-5xl font-bold">My Experience</h1>

            {
                jobs.map((job) => {
                    return (
                        <div class="mt-10">
                            <div class="text-xl font-semibold">
                                <span>{job.company}</span>{' '}
                                <span class="hidden sm:inline">|</span>{' '}
                                <span class="block mt-2 font-semibold text-green-700 sm:inline">
                                    {job.title}
                                </span>{' '}
                                <span class="hidden sm:inline">|</span>{' '}
                                <span class="block mt-2 text-base text-gray-600 sm:inline sm:mt-0 sm:text-xl">
                                    {job.timeframe}
                                </span>
                            </div>{' '}
                            <div class="mt-4">{job.description}</div>
                        </div>
                    );
                })
            }
        </div>
    </section>
</BaseLayout>
