---
const { link, title } = Astro.props;
---

<a href={link} target="_blank" class="block px-10 py-2 mt-2 text-base font-semibold text-center text-white transition-all duration-150 ease-in-out bg-green-900 hover:shadow-xl hover:bg-green-700">{title}</a>