---
import BaseLayout from '../layouts/BaseLayout.astro';
const { title, description, stackList } = Astro.props;
---

<BaseLayout>
    <div
        class="flex flex-col justify-between col-span-3 p-6 border-2 border-gray-800 md:col-span-1"
    >
        <div class="text-xl font-bold">
            {title}
        </div>
        <div class="pb-2">
            {description}
        </div>
        <p class="pb-2 break-words">
            {stackList}
        </p>
        <div>
            <slot name="buttons" />
        </div>
    </div>
</BaseLayout>
